.lista-decoracao {
    list-style-type: none;
    border-bottom: 1px solid rgb(192, 192, 192);
}

.lista-baixar {
    list-style-type: none;
}

.link-fotos {
    text-decoration: none;
    color: rgba(0, 0, 255, 0.432);
}

.link-fotos:hover {
    text-decoration: underline;
    color: rgb(33, 12, 226);
}


.icone-instagram {
    color: rgb(251 63 235);

}

.icons-introducao {
    text-decoration: none;
}
.icons-introducao:hover{
    color: blueviolet;
}

.box-container {
    display: flex;
    gap: 32px;
    justify-content: center;
    background-color: #ffffff;
}

.box {
    position: relative;
    width: 400px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    border-radius: 6px;
}
.box::before{
    content: '';
    position: absolute;
    width: 100px;
    height: 140%;
    background-color: rgba(255, 255, 255, 0.959);
    box-shadow: 0 0 40px rgb(5, 5, 5);
    animation: animate 10s linear infinite;
}
.box::after{
    content: '';
    position: absolute;
    inset: 4px;
    background-color: rgb(4, 75, 97);
    border-radius: 10px;
}

@keyframes animate {
    80%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}